<div class="trigger">
  {% for item in site.data.nav.nav %}
  {% if item.subfolderitems.size > 0 %}
  <div class='has-sub-menu'><a class="page-link topLevelNav">{{ item.title}} </a>
  </div>
  <div class="submenu">
    <div class="submenu-container">
      {% for entry in item.subfolderitems %}
      <a class="submenu-item page-link bling" href="{{ entry.url }}">
        <p class="submenu-item-title">{{ entry.title }}</p>
        <p class="submenu-item-subtitle">{{ entry.subTitle }}</p>
        <img src="{{ entry.imgSrc }}">
      </a>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <a class="page-link topLevelNav bling" href="{{ item.url }}">{{ item.title }}</a>
  {% endif %}
  {% endfor %}
</div>
