@charset "utf-8";

// Define defaults for each variable.

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Quattrocento:400,700');

$base-font-family: 'Montserrat', sans-serif !default;
$base-font-size:   1rem !default;
//for phone up
$mega-font-size: 4rem;
$h1-font-size: 2.8rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.2rem;
$h4-font-size: .93rem;

$base-font-weight: 300 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.2 !default;
$headings-font-family: 'Quattrocento', serif;

$spacing-unit:     1.9rem !default;

$text-color:       #333333 !default;
$background-color: #f8f8f8 !default;

$red-color:      #f67280 !default;
$mauve-color: #c06c84;
$light-mauve: #fbe5eb;
$purple-color: #6c5b7b;
$blue-color: #355c7d;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-portrait-only {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}
@mixin relative-tablet-portrait-font-size($originalSize) {
  font-size: 1.125 * $originalSize;
}
@mixin relative-tablet-landscape-font-size($originalSize) {
  font-size: 1.25 * $originalSize;
}
@mixin relative-desktop-font-size($originalSize) {
  font-size: 1.375 * $originalSize;
}
@mixin relative-big-desktop-font-size($originalSize) {
  font-size: 1.5 * $originalSize;
}


// Use media queries like this:
// .phone-up {
//   background: purple;
// }

// .phone-only {
//   @include for-phone-only { background: purple; }
// }

// .tablet-portait-only {
//   @include for-tablet-portait-only { background: purple; }
// }

// .tablet-portrait-up {
//   @include for-tablet-portrait-up { background: purple; }
// }

// .tablet-landscape-only {
//   @include for-tablet-landscape-only { background: purple; }
// }

// .tablet-landscape-up {
//   @include for-tablet-landscape-up { background: purple; }
// }

// .desktop-only {
//   @include for-desktop-only { background: purple; }
// }

// .desktop-up {
//   @include for-desktop-up { background: purple; }
// }

// .big-desktop-up {
//   @include for-big-desktop-up { background: purple; }
// }

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "minima/flex",
  "minima/gradient-bar"
;
