/**
* about / bio
*/

.about-page .banner-section {
  background: url('../assets/images/fabric-bg.jpg');
  background-size: 350px 500px;
  opacity: .9;
  h1 {
    background-color:  rgba(39, 39, 39, 0.1);
    text-shadow: 2px 2px 4px #000000;
  }
  h2 {
    text-shadow: 2px 2px 4px #000000;
  }
}


.bio {

  p {
    text-align: left;
  }

  .flex-container {
    overflow: visible;
  }

  .side1 {
    position: -webkit-sticky;
    position: sticky;
    top:90px;
    width: 20%;
  }

  @include for-tablet-landscape-up {
    .side1 {
      left: 33%;
    }
      background: linear-gradient(to right, 
     $grey-color-light 0%, $grey-color-light 50%,
    #fff 50%, #fff 100%) center no-repeat;
  }

  .side2 {
    margin-top: -24%;
  }

}