/**
* Resources Page
**/

.resources-page .banner-section {
  background: url('/assets/images/toile-bg.jpg');
  background-repeat: repeat;
  h1 {
    color: $purple-color;
  }
  h2 {
    background-color: rgba(0,0,0,.5)
  }
}

section.resources {
  &:first-of-type {
    padding-top: $spacing-unit*3;
  }
  padding-bottom: $spacing-unit*3;

}

/**
* Post it notes
*/
.post-it {
  background-color:rgb(254, 250, 188); 
  -webkit-transition: background-color 580ms ease-in-out;
  -moz-transition: background-color 580ms ease-in-out;
  -o-transition: background-color 580ms ease-in-out;
  transition: background-color 580ms ease-in-out;
  padding: $spacing-unit/3; 
  margin-bottom: $spacing-unit/3;
  max-width: 310px;
  margin: auto;
  font-family: 'Annie Use Your Telescope', cursive; 
  font-size:15px; 
  color: $blue-color;
  height: 9rem; 
  position: relative;

  box-shadow: 0px 4px 6px rgba(48, 2, 59, 0.6);
  -moz-box-shadow: 0px 4px 6px rgba(48, 2, 59, 0.6);
  -webkit-box-shadow: 0px 4px 6px rgba(48, 2, 59, 0.6);

  @include for-tablet-portrait-up {
    height: 10rem;
  }

  @include for-tablet-landscape-up {
    height: 14rem;
  }

  @include for-desktop-up {
    height: 16rem;
  }

  &:hover
    {
    box-shadow: 0px 4px 10px rgba(93, 13, 113, 0.6);
    -moz-box-shadow: 0px 4px 10px rgba(93, 13, 113, 0.6);
    -webkit-box-shadow: 0px 4px 10px rgba(93, 13, 113, 0.6);
    background-color: rgba(73, 68, 2, 0.6);
    .show-on-hover {
        opacity: 1
      }
    }

  .author {
    font-family: 'Annie Use Your Telescope', cursive;
    position: absolute;
    bottom: 7px;
    right: 7px;
    margin-bottom: 0;
  }
  .title {
    font-family: 'Annie Use Your Telescope', cursive;
    text-align:left;
  }

  .publication, .institution {
    position: absolute;
    bottom: 7px;
    left: 7px;
    margin-bottom: 0;
  }

  .show-on-hover {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    -ms-transition: opacity 580ms ease-in-out;
    -webkit-transition: opacity 580ms ease-in-out;
    -moz-transition: opacity 580ms ease-in-out;
    -o-transition: opacity 580ms ease-in-out;
    transition: opacity 580ms ease-in-out;
    color: #fff;
    text-align: center;
  }

}

/**
* Experiments Resources
*/

.experiments .post-it-container {
  &:first-of-type {
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  }

  &:nth-of-type(2) {
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

  &:nth-of-type(3) {
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  &:nth-of-type(4) {
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}
/**
* Money Politics
*/

.money-politics .post-it-container {
  &:first-of-type {
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  }

  &:nth-of-type(2) {
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
  }

  &:nth-of-type(3) {
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  &:nth-of-type(4) {
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}
/**
* US and Around the World Resources
*/

.around-world .post-it-container {
  &:nth-of-type(1) {
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  &:nth-of-type(2) {
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  &:nth-of-type(3) {
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  }
  &:nth-of-type(4) {
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  &:nth-of-type(5) {
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  &:nth-of-type(6) {
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  }
}
/**
* The Ultra Rich Resources
*/

.ultra-rich .post-it-container {
  &:nth-of-type(1) {
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  }
  &:nth-of-type(2) {
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  &:nth-of-type(3) {
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  }
  &:nth-of-type(4) {
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  &:nth-of-type(5) {
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  &:nth-of-type(6) {
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}
/**
* What it's like to be poor
*/

.to-be-poor .post-it-container {
  &:nth-of-type(1) {
  -moz-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
  }
  &:nth-of-type(2) {
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  &:nth-of-type(3) {
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  }
  &:nth-of-type(4) {
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  &:nth-of-type(5) {
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  &:nth-of-type(6) {
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}