---
layout: default
---
<div class="about-page">
  <section class="banner-section">
    <header class="banner-header" role="heading">
      <h1 class="mega">Coral Celeste Frazer</h1>
      <h2 class="h3">A Brief Literary Autobiography</h2>
    </header>
  </section>
  <section class="bio gradient-bar">
    <img class="off-center side1" data-about-photo="baby" alt="Author Coral Frazer as a young child" src="/assets/images/Coral-1st-Grade.png"
      />
    <img class="off-center side1 hide" data-about-photo="rainbow" alt="Author Coral Frazer's first story" src="/assets/images/Magic-Rainbow.png"
      />
    <img class="off-center side1 hide" data-about-photo="book" alt="Author Coral Frazer holding her book economic inequality" src="/assets/images/Author-Coral-Frazer-holding-Economic-Inequality.png"
      />
    <div class="flex-container row wrap space-around">
      <div class="flex-item _25-phone-up _33-tablet-landscape-up  flex-container">
      </div>
      <div class="flex-item _75-phone-up _33-tablet-landscape-up text-center side2">
        <h2>How I Came to Write a Book on Economic Inequality for Young Adults:</h2>
        <p data-about-position="1">My first piece of writing was a story called The Magic Rainbow, which I wrote when I was seven years old. My teacher seemed
        to like it, and my mother kept it and pasted it in my scrapbook, which is why I have it now. But I remember being
        frustrated because I hadn’t had time to finish it. In fact, I’d barely begun. I’d set out the premise of a rainbow
        made of gold, and - that was it. Time was up and we had to stop writing. But it wasn’t even a story yet. There were
        going to be people who were searching for the gold—who really needed it for some reason or other. They would have
        a great adventure getting to the end of the rainbow, only to be crushed to find no pot of gold waiting there. But
        eventually they would figure out that a very clever leprechaun had somehow hidden the gold IN the rainbow, and...
        Well, I wasn’t sure exactly what would happen after that, but somehow it would all end happily.</p>
        <p data-about-position="2">As the years went by, I continued to run out of time before I could fully develop my ideas. I would turn in a short story,
        which was really a piece of a much longer and more complicated novel that I never actually wrote. I always knew that
        I wanted to write books (probably long complicated books that took a while to build up to the main idea), but I always
        doubted that I could. As an excruciatingly shy child, books were my inspiration and my solace, my friends and my
        teachers. They gave me insights into other times and places, both real and imaginary. They gave me glimpses into
        other minds. How did their authors know so much? I was a timid little girl growing up in a small town in western
        Colorado. How would I ever know anything about the big wide world? How would I ever have a clue what other people
        – normal people – think and feel?</p>
        <p>In college, I explored different fields that I thought might help me answer my two burning questions: How does the world
        work? How do people work? My first question was mostly about the social world, so I took some history, some anthropology,
        a class or two in politics, a few philosophy courses. My second question was about getting into people’s heads, so
        I tried psychology. Literature also had its merits as a way of getting into heads, but I read plenty of fiction on
        my own. I wanted to learn about the world in a different way. Finally, I hit on sociology. It was a revelation. Anthropology
        had almost won me over; I loved learning about other cultures. But the emphasis on respecting other ways of life,
        while appealing on one level, was also unsatisfying to a judgmental person like myself. All cultures offer things
        of value, yes, absolutely. And all peoples are worthy of respect. But surely some traits in a society are better
        than others: equality and justice over misogyny and racism and fascism and slavery. Sociology allowed me to turn
        the lens on my own culture, and to think about how prejudice and injustice are built into the system, and into our
        own minds, in ways we often don’t even realize. It offered a tantalizing possibility: maybe after we understand the
        way the world works, we can also change it for the better.</p>
        <p>College was fun, and fascinating, and I learned a lot. I still didn’t know enough to write a book though. Nor could I figure
        out any other career. I decided to go to back to school and get a PhD. Maybe I’d become a professor. I enrolled in
        a prestigious sociology program and completed an MA. In the process, I learned some interesting things about how
        the world works, and some important things about myself - one of which was, academia is not for me. So, no PhD and
        no becoming a professor. What then?</p>
        <p>I still wanted to write books.</p>
        <p>Could I do that?</p>
        <p>I hadn’t figured out the answers to my two burning questions: How does the world work? How do people work? But I HAD figured
        out that NO ONE else knew either. Or at least, they knew parts of the answer, with lots of conditions, qualifications,
        ifs, ands, and buts. No one knew the whole complete thing in all its magnificent, inconsistent, self-contradictory
        glory. Which meant that no one could tell me I was wrong! That was a freeing thought. I could offer my own take on
        one or both of the burning questions, and even though my answers would necessarily be incomplete, they wouldn’t necessarily
        be incorrect.</p>
        <p>So all right then. But what kind of book should I write?</p>
        <p>Reading had been the purest pleasure in childhood, and I knew I wanted to write books for young people. I had always dreamed
        of writing fiction, but college and graduate school taught me that I also had a passion for writing nonfiction. There
        is something extremely satisfying about reading widely on a topic, while slowly gleaning facts, incidents, and patterns
        to weave into a compelling story or argument. So in June of 2015, I attended the 21st Century Children’s Nonfiction
        Conference, where I met Domenica DiPiazza, editor of Twenty-First Century Books. We decided we wanted to work on
        a book together, and she invited me to send her an email after the conference with some ideas. I had a couple floating
        around in the back of my mind, but wanted a third to round out the list. My brilliant husband suggested doing something
        on economic inequality. It’s like a mystery story, he said. What caused the rise in economic inequality? That
        sounded good—lots of people were talking about economic inequality, and President Obama had recently said it was
        one of the most important issue of our time. So I dashed off a little blurb.</p>
        <p data-about-position="3">Of course, that was the topic Domenica chose. When she asked me to write up a proposal, I had a moment of panic. A book on
        the causes and consequences of economic inequality? For teens? It was such a huge, complicated, multifaceted issue.
        I wasn’t sure I could get my own mind around it, much less explain it in a way that a 13 year old could understand.
        But I started reading as widely as possible –there were plenty of books, scholarly articles, and news stories on
        the topic. The statistics were mindboggling. But so what? (This question was relentlessly and mercilessly fired at
        me in grad school. I hated it, and it was probably the most helpful training I ever got.) So the richest few men
        in the country owned as much wealth as half the world. So what? So a handful of Wall Street brokers made as much
        in bonuses as all the minimum wage workers in the country made in a year. So what?</p>
        <p>The so what, I realized, could be broken down into three main areas. Extreme inequality impairs (1) the functioning of our
        economy, (2) the functioning of our democracy, and (3) the ability of our young people, especially those from a poor
        background, to get ahead. So I would have a chapter on economics, one on politics, and one on social mobility, with
        a focus on inequalities in education. I drew up what was probably the most detailed proposal Domenica had ever seen.
        (It was my first book proposal; I didn’t know what I was doing. Or, I had to prove to myself, as much as to her,
        that I did know what I was doing.) She trimmed it down a bit, asked me to add some images to spice it up, and sold
        it to the marketing people. And after a lot of hard work, and several rounds of intensive editing with Domenica and
        another editor named Peg Goldstein, Economic Inequality: The American Dream Under Siege came out on January 1, 2018.
        My first fully completed piece of writing.</p>

      </div>
    </div>
  </section>
</div>
