---
layout: default
---

<div class="home">
  <section class="banner-section">
    <header class="banner-header" role="heading">
      <h3 class="mega">New Book Release</h3>
    </header>
  </section>
  <a class="light-mauve no-bling" href="/books/vote">
    <section class="text-block gradient-bar">
      <h1>VOTE!</h1>
      <h2 class="h3">Women’s Fight for Access to the Ballot Box</h2>
      <h3 class='h4 bottom-bar-cta'>Learn More</h3>
    </section>
  </a>
  <section class="featured">
    <div class="flex-container row wrap vert-center">
      <div class="flex-item _875-phone-up _33-desktop-up">
        <blockquote class="h3">Offers teens a call to action to protect all voters from disenfranchisement.</blockquote>
        <p class="byline right">Kirkus (starred review)</p>
      </div>
      <div class="flex-item _875-phone-up _33-desktop-up text-center featured-book">
        <img class="height-300 overlay red" alt="Economic Inequality by Coral Frazer"
          src="/assets/images/VOTE-by-coral-fraser-cover-image.jpg" />
        <div class="purchase-links">
          {% include purchase-links-vote.html %}
        </div>
      </div>
    </div>
  </section>
  <section class="author">
    <div class="flex-container row wrap">
      <div class="flex-item _875-phone-up">
        <img src="/assets/images/Coral-Frazer-Author.jpg" />
        alt="Author Coral Frazer scenic outdoor headshot" />
      </div>
      <div class="text-block gradient-bar flex-item _875-phone-up">
        <p class="h3">{{ site.description | escape }}</p>
      </div>
    </div>
  </section>
</div>
