---
layout: default
---

<div class="home">
  <section class="banner-section">
    <a class="light-mauve" href="/">
      <header class="banner-header" role="heading">
        <h3 class="mega">New Book Release</h3>
      </header>
    </a>
  </section>
  <section class="text-only gradient-bar">
    <h1>Economic Inequality</h1>
    <h2 class="h3">The American Dream Under Siege</h2>
  </section>
  <section class="featured">
    <div class="flex-container row wrap vert-center">
      <div class="flex-item _875-phone-up _33-desktop-up">
        <blockquote class="h3">This remarkably even-handed, lucid volume confidently leads readers through the murky world of wealth and economics
          in America.</blockquote>
        <p class="byline right">— Sarah Hunter</p>
      </div>
      <div class="flex-item _875-phone-up _33-desktop-up text-center">
        <img class="height-300" alt="Economic Inequality by Coral Frazer" src="/images/econmonic-inequality-book-cover-small.jpg"
        />
      </div>
    </div>
  </section>
</div>
