---
layout: default
---

<div class="books">
    <section class="banner-section">
        <header class="banner-header" role="heading">
            <h1 class="mega">Economic Inequality</h1>
            <h2 class="h3">The American Dream Under Siege</h2>
        </header>
    </section>
    <section class="text-block gradient-bar">
        <h3 class="h3">This is a valuable resource for young adults attempting to untangle the complexities of economics as wells as claims and
        counterclaims in the political sphere.</h3>
        <h4 class='h4 bottom-bar-cta'>–Katherine Koenig, Carnegie Library of Pittsburgh</h4>
    </section>
</div>

<section class="resources experiments">
     {% assign experiments_resources = site.data.inequality_resources.experiments %}
     {% assign articles = experiments_resources.articles %}
     {% assign orgs = experiments_resources.orgs %}
    <h3 class="h2">{{experiments_resources.name}}</h3>
    <div class="flex-container wrap">
        {% for article in articles %}
        <div class="flex-item _875-phone-up _50-tablet-portrait-up _33-tablet-landscape-up _25-desktop-up post-it-container">
            <a class='link no-bling' target="_blank" href="{{ article.url }}">
                <div class='post-it'>
                    <h4 class='h3 title'>{{article.title}}</h4>
                    <h5 class='h4 author'>{{article.author}}</h5>
                    <p class='publication'>{{article.publication}}</p>
                    <div class='show-on-hover'>
                        <p class='h3 link-title'>Visit Source</p>
                        <p class='h4 link-address'>{{article.link_source}}</p>
                        <p class='date'>{{article.date}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% for org in orgs %}
        <div class="flex-item _875-phone-up _50-tablet-portrait-up _33-tablet-landscape-up _25-desktop-up post-it-container">
            <a class='link no-bling' target="_blank" href="{{ org.url }}">
                <div class='post-it'>
                    <h4 class='h3 title'>{{org.title}}</h4>
                    <h5 class='h4 author'>{{org.institution}}</h5>
                    <div class='show-on-hover'>
                        <p class='h3 link-title'>Visit Source</p>
                        <p class='h4 link-address'>{{org.link_source}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
