---
layout: default
---

<div class="econ-inequality">
    <section class="banner-section">
        <header class="banner-header" role="heading">
            <h1 class="mega">Economic Inequality</h1>
            <h2 class="h3">The American Dream Under Siege</h2>
        </header>
    </section>
    <section class="text-block gradient-bar">
        <h3 class="h3">This exemplary piece of introductory economics deserves a place in every middle and high school library across the land.</h3>
        <h4 class='h4 bottom-bar-cta'>–Kirkus (starred review)</h4>
    </section>
    <section class="featured-large">
        <div class="flex-container row wrap vert-center">
            <div class="flex-item _875-phone-up _50-tablet-landscape-up text-center featured-book">
                <img class="height-400" alt="Economic Inequality by Coral Frazer" src="{{"/assets/images/econmonic-inequality-book-cover-small.jpg" | relative_url}}"
                />
            </div>
            <div class="flex-item _875-phone-up _50-tablet-landscape-up">
                <div class="purchase-links-container flex-container">
                    {% include purchase-links.html %}
                </div>
            </div>
        </div>
    </section>
    <section class="description">
        <div class="flex-container space-around">
            <div class="flex-item _875-phone-up _50-tablet-portrait-up _33-desktop-up">
                <div class="description-body">
                    <h3 class="book-title">Economic Inequality</h3>
                    <h4 class="book-subtitle">The American Dream under Siege</h4>
                    <p class="author-byline"> By: Coral Celeste Frazer</p>                    
                    <p class="top-category-line">Series: Nonfiction — Young Adult</p>
                    <p>Millions of Americans don't earn enough money to pay for decent housing, food, health care, and education. Increasingly, families and young people aren't doing better than their parents and grandparents before them. In fact, they're doing worse. And women and minorities earn less than white men. The American Dream is harder to achieve than ever before. Meanwhile, the rich keep getting richer. Many Americans are angry about economic inequality, and many are working on solutions. Readers will learn how state and local governments, businesses, and ordinary citizens—including young people—are fighting to close the gap between rich and poor, to preserve the promises of American democracy, and to give everyone a fair shot at the American Dream.</p>
                    <p class="bottom-category-line"><span>Nonfiction</span> <span>Social Studies</span> <span>Grades: 8-12</span> <span>Twenty-First Century Books</span> <span>©2018</span></p>
                </div>
            </div>
        </div>
    </section>
    <section class="book-quotes">
        <div class="flex-container space-around row wrap">
            <div class="flex-item _875-phone-up _33-tablet-portrait-up _25-tablet-landscape-up">   
                <div class='small-quote flex-container'>
                    <div class="flex-item">
                        <h3 class="h2">A fine example of taking the dismal science and making it everyday-usable and giving it a little vroom.</h3>
                        <p class='byline'>–Kirkus (starred review)</p>
                    </div>
                </div>
            </div>
            <div class="flex-item _875-phone-up _375-tablet-portrait-up ">
                <div class='mega-quote flex-container'>
                    <div class="flex-item">
                        <h3 class="h3">This is a valuable resource for young adults attempting to untangle the complexities of economics as wells as claims and
                            counterclaims in the political sphere.</h3>
                        <p class='byline'>–School Library Journal</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

