---
layout: default
---

<div class="books">
    <section class="banner-section">
        <header class="banner-header" role="heading">
            <h1 class="mega">Economic Inequality</h1>
            <h2 class="h3">The American Dream Under Siege</h2>
        </header>
    </section>
    <section class="text-block gradient-bar">
        <h3 class="h3">This is a valuable resource for young adults attempting to untangle the complexities of economics as wells as claims and
        counterclaims in the political sphere.</h3>
        <h4 class='h4 bottom-bar-cta'>–Katherine Koenig, Carnegie Library of Pittsburgh</h4>
    </section>
</div>

<section class="resources">
    <h3 class="h2">Resources</h3>
    <div class="flex-container wrap">
        {% for article in site.data.inequality_resources.experiments.articles %}
        <div class="flex-item _875-phone-up _33-desktop-up">
            <a class='link' href="{{ article.url }}">
                <div class='article-data'>
                    <h4 class='title'>{{article.title}}</h4>
                    <h5 class='author'></h5>
                    <p class='publication'></p>
                    <p class='date'></p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
