---
layout: default
---

<div class="vote book-page">
    <section class="banner-section dark">
        <header class="banner-header" role="heading">
            <h1 class="mega">VOTE!</h1>
            <h2 class="h3">Women’s Fight for Access to the Ballot Box</h2>
        </header>
    </section>
    <section class="text-block gradient-bar">
        <h3 class="h3">Offers teens a call to action to protect all voters from disenfranchisement.</h3>
        <h4 class='h4 bottom-bar-cta'>–Kirkus</h4>
    </section>
    <section class="featured-large">
        <div class="flex-container row wrap vert-center">
            <div class="flex-item _875-phone-up _50-tablet-landscape-up text-center featured-book">
                <img class="height-400" alt="VOTE! cover image by Coral Frazer"
                    src="/assets/images/VOTE-by-coral-fraser-cover-image.jpg" />
            </div>
            <div class="flex-item _875-phone-up _50-tablet-landscape-up">
                <div class="purchase-links-container flex-container">
                    {% include purchase-links-vote.html %}
                </div>
            </div>
        </div>
    </section>
    <section class="description">
        <div class="flex-container space-around">
            <div class="flex-item _875-phone-up _50-tablet-portrait-up _33-desktop-up">
                <div class="description-body">
                    <h3 class="book-title">VOTE!</h3>
                    <h4 class="book-subtitle">Women’s Fight for Access to the Ballot Box</h4>
                    <p class="author-byline"> By: Coral Celeste Frazer</p>
                    <p class="top-category-line">Series: Nonfiction — Young Adult</p>
                    <p>August 18, 2020, marks the 100th anniversary of the 19th Amendment to the US Constitution, which
                        prohibited states and
                        the US government from denying citizens the right to vote on the basis of sex. See how the
                        70-year-long fight for
                        women's suffrage was hard won by leaders such as Elizabeth Cady Stanton, Susan B. Anthony, Alice
                        Paul, Carrie Chapman
                        Catt and others. Learn how their success led into the civil rights and feminist movements of the
                        mid- and late twentieth
                        century, as well as today's Women’s March, #MeToo, and Black Lives Matter movements. In the face
                        of voter ID laws, voter
                        purges, gerrymandering, and other restrictions, Americans continue to fight for equality in
                        voting rights.</p>
                    <p class="bottom-category-line"><span>Nonfiction</span> <span>Social Studies</span> <span>Grades:
                            8-12</span> <span>Twenty-First Century Books</span> <span>©2019</span></p>
                </div>
            </div>
        </div>
    </section>
</div>
